.App {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

th,
td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f6;
}

input {
  width: 60px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

